*.ipynb
!run_DeepECtransformer_in_colab.ipynb
Dataset/
*.log
*.pyc
*.log
*.icloud
.ipynb_checkpoints/
.DS_Store
output/*
*.png
attentions/
attentions_third/
.vscode/
result/
not_used_data/
logs/
prot_bert_*
analyze/*
results/
